{% extends 'base.html' %}

{% block title %}
    Informe de caja
{% endblock title %}

{% block breadcrumb_item %}
<!--
<li class="breadcrumb-item"><i class="far fa fa-file-alt text-success"></i>
    <a href="{% url 'recaudacion:informe_caja_pdf' %}" role="button"> PDF</a>
</li> -->
<li class="breadcrumb-item active"><i class="far fa fa-list"></i> <span class="text-success"> {% if results %}Informe </span>{% else %}<span class="text-danger">No existen datos </span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block title_pages %}
    {% if fecha_inicial != None %}
      Informes de caja general <span class="badge badge-primary ">{{fecha_inicial}} </span> <span class="spinner-grow spinner-grow-sm text-primary spinner-border-md"> al </span> <span class="badge badge-primary ">{{fecha_final}} </span> 
    
    {% endif %} 
{% endblock title_pages %}

    
{% block content %}

<div class="card mb-3">
        <div class="card-body">
        <div class="table-responsive">

            <form class="form-inline" action="." method="get">
              <div class="form-group mx-sm-3 mb-2">
                <label for="id_fecha_inicial">Desde: </label>
                <input type="text" readonly class="form-control" name="fecha_inicial" id="id_fecha_inicial" value="{{fecha_inicial}}">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="id_fecha_final" >Hasta: </label>
                <input type="text" readonly class="form-control" name="fecha_final" id="id_fecha_final" value="{{fecha_final}}" >
              </div>
              <button type="submit" class="btn btn-primary mb-2">Consultar...</button>
            </form>
            
             <table class="display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Abonado</th>
                        <th>Ley especial</th>
                        <th>Pago</th>
                        <th>Subtotal</th>
                        <th>Descuento</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in results %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.fecha|date:'d/b/Y'}}</td>
                        <td>{{item.abonado}}</td>
                        <td>{{item.descuento}}</td>
                        <td >{{item.pago}}</td>
                        <td class=" text-right">{{item.subtotal}}</td>
                        <td class=" text-right">{{item.total_descuento}}</td>
                        <td class=" text-right">{{item.total_general}}</td>
                    </tr>
                {% endfor%}
                </tbody>
                 <tfoot>
                 <tr>
                     <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">
                                    <span class="badge badge-primary ">Total<span
                                            class="spinner-grow spinner-grow-sm text-light spinner-border-md" role="status"
                                            aria-hidden="true">
                                            <span class="text-dark">$</span></span>
                                    </span>
                                </th>
                        <th class="bg-dark text-light text-right">{{subtotal.subtotal__sum}}</th>
                        <th class="bg-dark text-light text-right">{{total_descuento.total_descuento__sum}}</th>
                        <th class="bg-dark text-light text-right">{{total_general.total_general__sum}}</th>
                 </tr>
                 </tfoot>
            </table>
                
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado a las {{today}}</div>
</div>


{% endblock content %}


{% block fecha %}

<script>
    $(document).ready(function () {
        
        $("#id_fecha_inicial, #id_fecha_final").datetimepicker({
            format: 'Y-m-d',
            timepicker: false,
            theme:'dark',
            mask:true,
        });
       
    });
</script>
{% endblock fecha %}

{% block js_pages %}
<script>
    $(document).ready(function() {
    $("#sidebarToggle").click();
    $('table.display').DataTable( {
         dom: 'Bfrtip',
        buttons: [
            { extend: 'copy', footer: true },
            { extend: 'excel',
            footer: true,
            title: '{{entidad.descripcion}}',
             messageTop: 'INFORME DE CAJA {{fecha_inicial}} AL {{fecha_final}}'
             },
            { extend: 'print', footer: true,title: '{{entidad.descripcion}}', messageTop: 'INFORME DE CAJA {{fecha_inicial}} AL {{fecha_final}}'},
            
        ],
        "pagingType": "full_numbers",
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "<i class= 'fas fa-angle-double-left'></i>",
            "sLast": "<i class= 'fas fa-angle-double-right'></i>",
            "sNext": "<i class= 'fas fa-angle-right'></i>",
            "sPrevious": "<i class= 'fas fa-angle-left'></i>",
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        },

        
    } );
} );
</script>
{% endblock js_pages %}
