{% extends 'base.html' %}

{% block title %}
    Recaudados
{% endblock title %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><i class="fas fa-file-pdf text-danger"></i>
    <a href="{% url 'recaudacion:planilla_print_all' %}" target="reportes"> PDF</a>
</li>
<li class="breadcrumb-item"><i class="fas fa-file-excel text-success"></i>
    <a href="{% url 'recaudacion:planilla_cobrada_csv' %}" target="reportes"> Excel</a>
</li>

<li class="breadcrumb-item active"><i class="far fa fa-list"></i> 
    {% if object_list %}<span class="text-success"> Valores recaudados</span>{% else %} <span
        class="text-danger">No existen valores recaudados </span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block linea %}
    
{% endblock linea %}
    
    
{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
        <div class="card-body">
        <div class="table-responsive">
            <table class="display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Abonado</th>
                        <th>Ley especial</th>
                        <th>Pago</th>
                        <th>Subtotal</th>
                        <th>Descuento</th>
                        <th>Total</th>
                        <th>Planilla</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in object_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.fecha|date:'d/b/Y'}}</td>
                        <td>{{item.abonado}}</td>
                        <td>{{item.descuento}}</td>
                        <td>{{item.pago}}</td>
                        <td class="text-center">{{item.subtotal}}</td>
                        <td class="text-center">{{item.total_descuento}}</td>
                        <td class="text-center">{{item.total_general}}</td>
                        <td class="text-center">
                            
                            <a href="{% url 'recaudacion:planilla_recaudada' item.id %}" target="reportes"
                                class="btn btn-outline-secondary" role="button"><abbr title="Planilla pagada"><i
                                        class="fas fa-file-pdf text-danger"></i></abbr></a>
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado a las 11:59 PM</div>
</div>


{% endblock content %}


