{% extends 'base.html' %}

{% block title %}
    Tarifas
{% endblock title %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><i class="far fa fa-file-alt text-success"></i>
    <a href="{% url 'parametro:tarifa_create' %}"  " role="button" > Nuevo</a>
</li>
<li class="breadcrumb-item active"><i class="far fa fa-list"></i> {% if object_list %}<span class="text-success"> Tarifas</span>{% else %} <span class="text-danger">No
    existen tarifas </span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block linea %}
    
{% endblock linea %}
    
    
{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" style="width=100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>M3 Ini.</th>
                        <th>M3 Sup.</th>
                        <th>Exced.</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in object_list %}
                    <tr>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.rango_inicial}}</td>
                        <td>{{item.rango_superior}}</td>
                        <td>{{item.valor_excedente}}</td>
                        <td>{{item.estado|yesno:'Activo,Inactivo'}}</td>
                        <td>
                            <a href="{% url 'parametro:tarifa_update' item.id %}" class="btn btn-primary btn-circle btn-sm" role="button"><abbr title="Editar"><i class="far fa-edit fa-xs"></i></abbr></a>
                            <a onclick="return abrir_modal('{% url 'parametro:tarifa_inactivar' item.id %}')" href="#"
                                class="btn btn-secondary btn-circle btn-sm" role="button"><abbr title="Inactivar"><i class="far fa-thumbs-down fa-xs"></i></abbr></a>
                            <a href="#" onclick="return abrir_modal('{% url 'parametro:tarifa_delete' item.id %}')" class="btn btn-danger btn-circle btn-sm" role="button"><abbr title="Eliminar"><i class="far fa-trash-alt fa-xs"></i></abbr></a>
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado a las 11:59 PM</div>
</div>


{% endblock content %}
    