{% extends 'base.html' %}

{% block title %}
    abonados
{% endblock title %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><i class="far fa fa-file-alt text-success"></i>
    <a href="#"  " role="button" onclick="return abrir_modal('{% url 'catastro:abonado_create' %}')"> Nuevo</a>
</li>
<li class="breadcrumb-item active"><i class="far fa fa-list"></i> {% if object_list %}<span class="text-success"> Abonados</span>{% else %} <span
    class="text-danger">No existen abonados</span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block linea %}
    
{% endblock linea %}
    
    
{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
        <div class="card-body">
        <div class="table-responsive">
            <table class="display">
                <thead class="">
                    <tr>
                        <th class="text-muted">#</th>
                        <th class="text-muted">Apellidos</th>
                        <th class="text-muted" >Nombres</th>
                        <th class="text-muted">Identificación</th>
                        <th class="text-muted">Celular</th>
                        <th class="text-muted">Sexo</th>
                        <th class="text-muted">Estado</th>
                        <th class="text-muted">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in object_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.apellidos}}</td>
                        <td>{{item.nombres}}</td>
                        <td>{{item.identificacion}}</td>
                        <td>{{item.celular}}</td>
                        <td>
                            {% if item.sexo == 'H' %}
                                Hombre
                            {% else %}
                                Mujer
                            {%endif%}
                            </td>
                        <td >{#item.estado|yesno:'Activo,Inactivo'#}
                            <div onclick="inactivar('{{item.id}}')" >
                            {% if item.estado%}
                                <abbr title="Activar"><i class="far fa-thumbs-up text-primary"></i></abbr>
                            {%else%}
                                <abbr title="Inactivar"><i class="far fa-thumbs-down text-danger"></i></abbr>
                            {%endif%}
                            </div>
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-circle btn-sm" role="button" onclick="return abrir_modal('{% url 'catastro:abonado_update' item.id %}')" ><abbr title="Editar"><i class="far fa-edit fa-xs"></i></abbr></a>
                            
                            <a href="#" onclick="return abrir_modal('{% url 'catastro:abonado_delete' item.id %}')" class="btn btn-danger btn-circle btn-sm" role="button"><abbr title="Eliminar"><i class="far fa-trash-alt fa-xs"></i></abbr></a>
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado a las 11:59 PM</div>
</div>


{% endblock content %}


{% block varios %}
    <script>
        function inactivar(id){
            let data = {id:id};
            data = JSON.stringify(data);
            let token = '{{csrf_token}}';
            
            $.ajax({
                headers:{"X-CSRFToken":token},
                type:'POST',
                url:"/catastro/abonados/estado/"+id,
                data:data,
                success: function(response){
                    if(response==='OK'){
                        location.reload(true);
                    }
                    else{
                        mensaje("Error, intentando cambiar estado")
                    }
                },
                error: function(jqXHR, textStatus,errorThrow){
                    console.log(textStatus, errorThrow);
                    mensaje(errorThrow,'red');
                    cerrar_modal();
                }
            });
        }
    </script>
{% endblock varios %}


    