{% extends 'base.html' %}

{% block title %}
    Barrios
{% endblock title %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><i class="far fa fa-file-alt text-success"></i>
    <a href="#"  " role="button" onclick="return abrir_modal('{% url 'catastro:barrio_create' %}')"> Nuevo</a>
</li>
<li class="breadcrumb-item active"><i class="far fa fa-list"></i> {% if object_list %}<span class="text-success"> Barrios</span>{% else %} <span
    class="text-danger">No existen barrios</span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block linea %}
    
{% endblock linea %}
    
    
{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
        <div class="card-body">
        <div class="table-responsive">
            <table class="display" id="table" style="width=100%" cellspacing="0">
                <thead class="">
                    <tr>
                        <th class="text-muted">Id</th>
                        <th class="text-muted">Descripción</th>
                        <th class="text-muted">Estado</th>
                        <th class="text-muted">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in object_list %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.estado|yesno:'Activo,Inactivo'}}</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-circle btn-sm" role="button" onclick="return abrir_modal('{% url 'catastro:barrio_update' item.id %}')" ><abbr title="Editar"><i class="far fa-edit fa-xs"></i></abbr></a>
                            <a onclick="return abrir_modal('{% url 'catastro:barrio_inactivar' item.id %}')" href="#"
                                class="btn btn-secondary btn-circle btn-sm" role="button"><abbr title="Inactivar"><i class="far fa-thumbs-down fa-xs"></i></abbr></a>
                            <a href="#" onclick="return abrir_modal('{% url 'catastro:barrio_delete' item.id %}')" class="btn btn-danger btn-circle btn-sm" role="button"><abbr title="Eliminar"><i class="far fa-trash-alt fa-xs"></i></abbr></a>
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado a las 11:59 PM</div>
</div>


{% endblock content %}

