{% extends 'base.html' %}

{% block title %}
    catastros
{% endblock title %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><i class="far fa fa-file-alt text-success"></i>
    <a href="#"  " role="button" onclick="return abrir_modal('{% url 'catastro:catastro_create' %}')"> Nuevo</a>
</li>
<li class="breadcrumb-item active"><i class="far fa fa-list"></i> {% if object_list %}<span class="text-success"> Catastros suspendido</span>{% else %} <span class="text-danger">No existen catastros suspendidos </span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block linea %}
    
{% endblock linea %}
    
    
{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
        <div class="card-body">
            
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" style="width=100%" cellspacing="0">
                <thead class="table-info">
                    <tr>
                        <th class="text-muted">Catastro</th>
                        <th class="text-muted">Fecha</th>
                        <th class="text-muted">Abonado</th>
                        <th class="text-muted">Servico</th>
                        <th class="text-muted">Medidor</th>
                        <th class="text-muted">Pago</th>
                        <th class="text-muted">Descuento</th>
                        <th class="text-muted">Estado</th>
                        <th class="text-muted">Servicio</th>
                        <th class="text-muted">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in object_list %}
                    <tr>
                        <td>{{item.numero}}</td>
                        <td>{{item.fecha|date:"d/m/Y"}}</td>
                        <td>{{item.abonado}}</td>
                        <td>{{item.servicio}}</td>
                        <td>{{item.medidor.numero}}</td>
                        <td>{{item.pago}}</td>
                        <td>{{item.descuento}}</td>
                        <td>{{item.estado|yesno:'Activo,Inactivo'}}</td>
                        <td>{{item.suspender|yesno:'Suspendido, Activo'}}</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-circle btn-sm" role="button" onclick="return abrir_modal('{% url 'catastro:catastro_update' item.id %}')" ><abbr title="Editar"><i class="far fa-edit fa-xs"></i></abbr></a>
                            <a onclick="return abrir_modal('{% url 'catastro:catastro_inactivar' item.id %}')" href="#"
                                class="btn btn-secondary btn-circle btn-sm" role="button"><abbr title="Inactivar"><i class="far fa-thumbs-down fa-xs"></i></abbr></a>
                            <a onclick="return abrir_modal('{% url 'catastro:catastro_suspender_servicio' item.id %}')" href="#"
                                class="btn btn-warning btn-circle btn-sm" role="button"><abbr title="Suspender servicio"><i class="fas fa-sort-amount-down-alt"></i></abbr></a>
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado: {{today}}</div>
</div>


{% endblock content %}


