{% extends 'base.html' %}

{% block title %}
    lecturas
{% endblock title %}

{% block breadcrumb_item %}

<li class="breadcrumb-item active"><i class="far fa fa-list"></i> 
    {% if object_list %}<span class="text-success"> Listado para ingreso de multas</span>{% else %} <span
        class="text-danger">No existen lecturas </span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block linea %}
    
{% endblock linea %}
    
    
{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="display">
                <thead class="">
                    <tr>
                        <th class="text-muted">Lectura</th>
                        <th class="text-muted">Catastro</th>
                        <th class="text-muted">L. Ant.</th>
                        <th class="text-muted">L. Act.</th>
                        <th class="text-muted">M3</th>
                        <th class="text-muted">Lectura</th>
                        <th class="text-muted">Recaudción</th>
                        <th class="text-muted text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for det in object_list %}
                    <tr>
                        <td>{{det.lectura}}</td>
                        <td>{{det.catastro}}</td>
                        <td>{{det.lectura_anterior}}</td>
                        <td>{{det.lectura_actual}}</td>
                        <td>{{det.consumo}}</td>
                        <td>{{det.tipo_lectura}}</td>
                        <td>{{det.estado|yesno:'Adeuda,Pagado'}}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'catastro:multadetalle_create' det.id %}">
                                <button type="button" class="btn btn-success btn-circle"><abbr title="Agregar Multas"><i
                                        class="fas fa-fire-alt"></i></abbr></button></a>
                                </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado {{today}}</div>
</div>


{% endblock content %}
