{% extends 'base.html' %}

{% block title %}
    Multas y otros valores
{% endblock title %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><i class="far fa fa-file-alt text-success"></i>
    <a href="#"  " role="button" onclick="return abrir_modal('{% url 'catastro:multadetalle_create' %}')"> Nuevo</a>
</li>
<li class="breadcrumb-item active"><i class="far fa fa-list"></i> {% if object_list %}<span class="text-success"> Abonados</span>{% else %} <span
    class="text-danger">No existen multas u otros valores</span>{% endif%}</li>
{% endblock breadcrumb_item %}

{% block linea %}
    
{% endblock linea %}
    
    
{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
        <div class="card-body">
        <div class="table-responsive">
            <table class="display">
                <thead class="">
                    <tr>
                        <th  class="text-muted" >Lectura</th>
                        <th  class="text-muted">Multa</th>
                        <th  class="text-muted">Cantidad</th>
                        <th class="text-muted">Valor</th>
                        <th class="text-muted">Total</th>
                        <th class="text-muted">Estado</th>
                        <th class="text-muted">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in object_list %}
                    <tr>
                        <td>{{item.lectura}}</td>
                        <td>{{item.multa}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.valor}}</td>
                        <td>{{item.total}}  </td>
                        <td >{#item.estado|yesno:'Activo,Inactivo'#}
                            <div onclick="inactivar('{{item.id}}')" >
                            {% if item.estado%}
                                <abbr title="Activar"><i class="far fa-thumbs-up text-primary"></i></abbr>
                            {%else%}
                                <abbr title="Inactivar"><i class="far fa-thumbs-down text-danger"></i></abbr>
                            {%endif%}
                            </div>
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-circle btn-sm" role="button" onclick="return abrir_modal('{% url 'catastro:multadetalle_update' item.id %}')" ><abbr title="Editar"><i class="far fa-edit fa-xs"></i></abbr></a>
                            <a onclick="return abrir_modal('{% url 'catastro:abonado_inactivar' item.id %}')" href="#"
                                class="btn btn-secondary btn-circle btn-sm" role="button"><abbr title="Inactivar"><i class="far fa-thumbs-down fa-xs"></i></abbr></a>
                            <a href="#" onclick="return abrir_modal('{% url 'catastro:multadetalle_delete' item.id %}')" class="btn btn-danger btn-circle btn-sm" role="button"><abbr title="Eliminar"><i class="far fa-trash-alt fa-xs"></i></abbr></a>
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado {{today}}</div>
</div>


{% endblock content %}

